/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height:59px;
}

/* navigation bar */
#navbar{
    /* flex-direction: column; */
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
}
#navbar:before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* logo and image */
#logo{
    margin: 4px 19px;
}


#navbar ul{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 8px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 289px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url('../fru.jpg')no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 354px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;    
    
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}
/* services section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 9px;
    margin: 4px 6px;
    border-radius: 28px;
    background: #f2f2f2;
}
#services .box img{
    height: 150px;
    margin: auto;
    display: block;
}
#services.box{
    font-family: 'Ubuntu', sans-serif;
}
#services
#services

/* clients section */
#client-section{
    position: relative;
    /* height: 344px; */
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../veg.jpg');
    width: 100%;
    height: 40%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 120px;
}
/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}


/* Utility classes */
.h-primary{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
    padding: 6px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    border-radius: 8px;
    cursor: pointer;
}
.center{
    text-align: center;
    /* color: royalblue; */
}